{
  "presets" : [
    ["latest", {
      "es2015": { "loose": true, "modules": false },
    }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-imports", {
      "react-bootstrap": {
        "transform": "react-bootstrap/lib/${member}",
        "preventFullImport": true
      },
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      }
    }]
]
}
