!!! 5

%html{ style: 'height: 100%' }
  %head
    %title Spotify Graph Explorer
    %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' }
    %link{ rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" }
  %body{ style: 'height: 100%' }
    - if session[:spotify_user]
      #app{ style: 'height: 100%; overflow: hidden' }
      %script{ type: 'text/javascript', src: 'bundle.js' }
    - else
      %nav.navbar.navbar-default
        .container
          .navbar-header
            %a.navbar-brand{ href: '#' } Spotify Graph Explorer
      .container
        .jumbotron
          %p Please authorize Spotify to begin using Spotify Graph Explorer
          %a.btn.btn-primary.btn-lg{ href: '/auth/spotify' } Sign in
