!!! 5

%html{ style: 'height: 100%' }
  %head
    %title Spotify Graph Explorer
    %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css' }
    %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css' }
  %body{ style: 'height: 100%' }
    #app{ style: 'height: 100%; overflow: hidden' }
    %script{ type: 'text/javascript', src: 'bundle.js' }
