!!! 5

%html
  %head
    %title Spotify Graph Explorer
    %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css' }
    %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css' }
  %body
    #app
    %script{ type: 'text/javascript', src: 'bundle.js' }
