!!! 5

%html{ style: 'height: 100%' }
  %head
    %title Spotify Graph Explorer
  %body{ style: 'height: 100%' }
    - auth = true if session[:spotify_user]
    #app{ style: 'height: 100%; overflow: hidden', reactprops: { auth: auth }.to_json }
    %script{ type: 'text/javascript', src: 'bundle.js' }
